{% extends "base.html" %}

<!-- Elements added to "main.html" will be displayed on all pages -->

{% extends "base.html" %}

{% block extrahead %}
    <!-- main.html | Added "navigation.instant" support -->
    <link rel="canonical" href=".">
{% endblock %}

<!-- Announcement bar -->
{% block announce %}
  For updates join the <strong>API Development Group</strong> on <strong>GroupMe</strong>:
  <a rel="me" href="https://groupme.com/join_group/27317261/ibNNhx">
    <strong>https://groupme.com/join_group/27317261/ibNNhx</strong>
  </a>
{% endblock %}