/* extra.css */

.header-extra-link {
  display: inline-block;
  visibility: hidden;
  margin-left: 0.5rem;
  text-decoration: none;
  vertical-align: middle;
  color: var(--md-default-fg-color--light);
}

h1:hover .header-extra-link,
h2:hover .header-extra-link,
h3:hover .header-extra-link,
h4:hover .header-extra-link,
h5:hover .header-extra-link,
h6:hover .header-extra-link {
  visibility: visible;
}

.header-extra-link svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: text-bottom;
}
